<section class="resume-section experience-section mb-5">
  <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Work Experience</h2>
  <div class="resume-section-content">
    <div class="resume-timeline position-relative">
      <article class="resume-timeline-item position-relative pb-5">

        <div class="resume-timeline-item-header mb-2">
          <div class="d-flex flex-column flex-md-row">
            <h3 class="resume-position-title font-weight-bold mb-1">Lead Software Engineer</h3>
            <div class="resume-company-name ml-auto">Armedia LLC.</div>
          </div>
          <div class="resume-position-time">Sept. 2018 - Present</div>
        </div>
        <div class="resume-timeline-item-desc">
          <p>As architect and tech lead, provide guidance and mentorship for development team in addition to the design, implementation,
            testing, and deployment of multiple new features for production applications as well as provide O&M support for production
            applications. Propose and implement architecture/technology improvements to increase reliability and scalability of production
            applications through performance testing and monitoring to meet increased load.</p>
          <h4 class="resume-timeline-item-desc-heading font-weight-bold">Accomplishments:</h4>
          <ul>
            <li>Deliver multiple product releases to production environments in AWS to global user-base improving average API response times
              by 2-3x.
            </li>
            <li>Spear-head performance and security updates for production applications.</li>
            <li>Rearchitect search implementation of production application with Solr Cloud to improve query response times by 2-10x.</li>
          </ul>
          <h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies used:</h4>
          <ul class="list-inline">
            <li class="list-inline-item"><span class="badge badge-primary badge-pill">Java</span></li>
            <li class="list-inline-item"><span class="badge badge-primary badge-pill">Spring</span></li>
            <li class="list-inline-item"><span class="badge badge-primary badge-pill">Spring Boot</span></li>
            <li class="list-inline-item"><span class="badge badge-primary badge-pill">Angular</span></li>
            <li class="list-inline-item"><span class="badge badge-primary badge-pill">AngularJS</span></li>
            <li class="list-inline-item"><span class="badge badge-primary badge-pill">Linux</span></li>
            <li class="list-inline-item"><span class="badge badge-primary badge-pill">AWS</span></li>
          </ul>
        </div>
      </article>

      <article class="resume-timeline-item position-relative pb-5">
        <div class="resume-timeline-item-header mb-2">
          <div class="d-flex flex-column flex-md-row">
            <h3 class="resume-position-title font-weight-bold mb-1">Software Engineer</h3>
            <div class="resume-company-name ml-auto">Armedia LLC.</div>
          </div>
          <div class="resume-position-time">Feb. 2016 - Sept. 2018</div>
        </div>
        <div class="resume-timeline-item-desc">
          <p>As part of Agile/Scrum development team, design, implement, test, and deploy application for international organization with
            global user-base. Took ownership for multiple critical areas of the application which greatly reduced end-user pain-points
            including but not limited to:</p>
          <ul>
            <li>On-demand OCR: Remove manual parsing and copying of multi-page PDF documents.</li>
            <li>Real-time Auditing: Track all changes to user-data for analytics and compliance.</li>
            <li>Automated validation of external data sources to streamline data ingestion and reduce user error by 20%.</li>
          </ul>
          <h4 class="resume-timeline-item-desc-heading font-weight-bold">Accomplishments:</h4>
          <ul>
            <li>Deploy enterprise Java/Spring/AngularJS application to production in AWS for global user-base. Worked from customer
              requirements to implement core product features (on-demand OCR, automated auditing, and automated validation of documents)
              through entire SDLC process.
            </li>
            <li>Design, implement, and execute strategy for end to end data migration from legacy system (Excel/Sharepoint) to modern
              application (Java/AngularJS) with automated validation of legacy data using Spring Boot reducing time to production by months.
            </li>
            <li>Add multi-factor authentication to enterprise Java application with Spring Security. Efforts included:
              design, proof-of-concept, implementation, and integration.
            </li>
            <li>Create and deploy CI/CD pipelines for Java/AngularJS application to EC2 virtual machines in AWS reducing time to production
              from days to minutes.
            </li>
          </ul>
          <h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies used:</h4>
          <ul class="list-inline">
            <li class="list-inline-item"><span class="badge badge-primary badge-pill">Java</span></li>
            <li class="list-inline-item"><span class="badge badge-primary badge-pill">Spring</span></li>
            <li class="list-inline-item"><span class="badge badge-primary badge-pill">Spring Boot</span></li>
            <li class="list-inline-item"><span class="badge badge-primary badge-pill">AngularJS</span></li>
            <li class="list-inline-item"><span class="badge badge-primary badge-pill">Linux</span></li>
            <li class="list-inline-item"><span class="badge badge-primary badge-pill">AWS</span></li>
            <li class="list-inline-item"><span class="badge badge-primary badge-pill">CI/CD</span></li>
          </ul>
        </div>
      </article>

      <article class="resume-timeline-item position-relative pb-5">
        <div class="resume-timeline-item-header mb-2">
          <div class="d-flex flex-column flex-md-row">
            <h3 class="resume-position-title font-weight-bold mb-1">Junior Software Engineer</h3>
            <div class="resume-company-name ml-auto">Armedia LLC.</div>
          </div>
          <div class="resume-position-time">Sept. 2015 - Feb. 2016</div>
        </div>
        <div class="resume-timeline-item-desc">
          <p>Analyze and implement new features from product roadmap for enterprise Java application with Spring and AngularJS. Collaborate
            with senior engineers to investigate and resolve product issues. Participate in daily agile scrum processes including use of
            JIRA, Contour, and Gitlab to perform daily tasks.</p>
          <h4 class="resume-timeline-item-desc-heading font-weight-bold">Accomplishments:</h4>
          <ul>
            <li>Add user preferences module to product to allow quick customization of user dashboards in AngularJS application.</li>
            <li>Improve unit and integration test coverage of Java backend services by 5%.</li>
          </ul>
          <h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies used:</h4>
          <ul class="list-inline">
            <li class="list-inline-item"><span class="badge badge-primary badge-pill">Java</span></li>
            <li class="list-inline-item"><span class="badge badge-primary badge-pill">Spring</span></li>
            <li class="list-inline-item"><span class="badge badge-primary badge-pill">AngularJS</span></li>
            <li class="list-inline-item"><span class="badge badge-primary badge-pill">JUnit</span></li>
          </ul>
        </div>
      </article>
    </div>
  </div>
</section>
